@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "fontello";
  src: url("../font/fontello.eot?80701334");
  src: url("../font/fontello.eot?80701334#iefix") format("embedded-opentype"),
  url("../font/fontello.woff?80701334") format("woff"),
  url("../font/fontello.ttf?80701334") format("truetype"),
  url("../font/fontello.svg?80701334#fontello") format("svg");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "icomoon";
  src: url("../font/icomoon.eot?-vw21ez");
  src: url("../font/icomoon.eot?#iefix-vw21ez") format("embedded-opentype"),
  url("../font/icomoon.woff?-vw21ez") format("woff"),
  url("../font/icomoon.ttf?-vw21ez") format("truetype"),
  url("../font/icomoon.svg?-vw21ez#icomoon") format("svg");
}

