[class^="i-"]:before,
[class*=" i-"]:before {
  display: inline-block;
  //width: 1em;
  //margin-left: .2em;
  //margin-right: .2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "icomoon";
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  /* opacity: .8; */
}

.i-facebook:before {
  content: "\e600";
}
.i-twitter:before {
  content: "\e601";
}
.i-youtube:before {
  content: "\e602";
}
.i-logo-glukhanko:before {
  content: "\e603";
}
.i-logo-htmlacademy:before {
  content: "\e604";
}
