[class^="i-"]:before, [class*=" i-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  display: inline-block;
  text-decoration: inherit;
  //width: 1em;
  //margin-left: .2em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
}

.i-facebook:before { content: "\e600"; }
.i-twitter:before { content: "\e601"; }
.i-youtube:before { content: "\e602"; }
.i-logo-glukhanko:before { content: "\e603"; }
.i-logo-htmlacademy:before { content: "\e604"; }
