.social-list li a {
  &:hover {
    background-color: $btn_hover_bg;
  }
  &:active {
    background-color: $btn_down_bg;
    &[class|='i']:before {
      color: $btn_down_color;
    }
  }
}
.copyright a {
  &:hover {
    &[class|='i']:before {
      background-color: $btn_hover_bg;
    }
  }
  &:active {
    background-color: $btn_down_bg;
    &[class|='i']:before {
      color: $btn_down_color;
    }
  }
}
