//typography variables

$base_font_size: 14px;
$bigger_font_size: floor($base_font_size*1.28572); //18px
$biggest_font_size: floor($base_font_size*1.5); //21px

$font_size_30: floor($base_font_size*2.1429); //30px
$font_size_33: floor($base_font_size*2.3571); //33px

$font_size_14: 14px;
$font_size_18: 18px;
$font_size_21: 21px;

$base_font_family: 'PT Sans', 'Tahoma', sans-serif;

$base_line_height: $base_font_size*1.5;
$bigger_line_height: $base_font_size*2;


$base_padding: floor($base_font_size*1.28572);

//color variables

$main_font_color: #000;
$alternate_font_color: #fff;
$base_color: #000;
$alternate_color: #fff;

$base_bg_color: #fff;
$alternate_bg_color: #81b3d2;
$darken_bg_color: #eeeeee;
$darken_alt_bg_color: darken($alternate_bg_color, 20%);
$info_bg_color: #766357;
$alter_row_color: #f2f2f2;

$border_dark_color: #678fa8;
$border_light_color: #9ac2db;

$btn_color: $alternate_color;
$btn_down_color: #94b9d2;
$btn_bg: $alternate_bg_color;
$btn_hover_bg: #669ec0;
$btn_down_bg: #5496bd;

$mobile_nav_down_color: $btn_down_color;
$mobile_nav_bg: $btn_bg;
$mobile_nav_hover_bg: $btn_hover_bg;
$mobile_nav_down_bg: $btn_down_bg;

$main_nav_hover: #81b3d2;
$main_nav_down: #cecece;
$main_nav_active: #766357;
$main_nav_active_hover: #604e43;
$main_nav_active_down: #dbd8d2;

$icon_color: #000;
$icon_hover_color: $btn_bg;
$icon_down_color: #bdbbbc;

$marker_brown_bg: #766357;

//layout variables

$xs_width: 320px;
$sm_width: 480px;
$md_width: 768px;
$lg_width: 960px;
$xl_width: 1200px;

$columns: 12;

//retina variables
$retina_2x: 1.5*96dpi;
$retina_3x: 2.5*96dpi;
$retina_4x: 3.5*96dpi;
