.banner {
  height: 390px;
  padding-top: $base_font_size*3.357 ;
  background-image:
    linear-gradient(
              13deg,
              #ffffff 8%,
              transparent 8%),
    linear-gradient(
              -13deg,
              #ffffff 8%,
              transparent 8%),
    url(../img/bg-photo-default.jpg);
  @include apply-to(greater-than, $md_width) {
    height: 514px;
    padding-top: 76px;
  }
  .welcome {
    width: 196px;
    height: 66px;
    margin: auto;
    margin-bottom: $base_font_size*4.357;
    background-image: url(../img/welcome.png);
    font-size: 0;
  }
  .sedona {
    width: 280px;
    height: 48px;
    margin: auto;
    margin-bottom: $base_font_size*4.9286;
    background-image: url(../img/sedona.png);
    font-size: 0;
  }
  .why-us {
    width: 197px;
    height: 54px;
    margin: auto;
    background-image: url(../img/blockquote.png);
    font-size: 0;
  }
}
