.hotels-search {
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0 3px 9px -2px #333;
  @include apply-to(greater-than, $md_width) {
    width: 569px;
    margin: auto;
    box-shadow: none;
  }
  .article-header {
    text-align: center;
    padding-top: $base_font_size*2;
    .h2 {
      margin: 0;
      margin-bottom: $base_line_height;
      font-size: $bigger_font_size;
      font-weight: 700;
      &.marker {
        line-height: $base_font_size*2;
        padding-top: $base_line_height*1.5;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: $base_line_height*1.5;
        margin-bottom: 0;
        color: $alternate_font_color;
        background-color: $marker_brown_bg;
      }
    }
    p {
      margin: 0;
      margin-bottom: $base_font_size*2;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .article-content {
    padding-top: $base-font_size*2;
    padding-right: 20px;
    padding-bottom: 48px;
    padding-left: 20px;
    @include apply-to(greater-than, $md_width) {
      width: 100%;
      padding-top: 55px;
      padding-right: 54px;
      padding-bottom: 56px;
      padding-left: 54px;
      position: absolute;
      background-color: $base_bg_color;
      box-shadow: 0 3px 9px -2px #333;
    }
  }
}
.hotel-search-form {
  label,
  input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 8px 14px 9px 14px;
    font-weight: 700;
  }
  label {
    padding-bottom: $base_font_size;
    @include apply-to(greater-than, $md_width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  input {
    margin-bottom: $base_line_height;
    border: none;
    font-size: $base_font_size;
    font-family: $base_font_family;
    text-transform: uppercase;
    outline: none;
    @include apply-to(greater-than, $md_width) {
      margin-bottom: 2*$base_font_size;
    }
    &[type="date"] {
      display: block;
      width: 100%;
      padding-right: 50px;
      background: #f2f2f2 url('../img/icon-calendar.svg') 90% 40% no-repeat;
    }
  }
}
.labeled-input {

}
.num-switcher {
  position: relative;
  background-color: #f2f2f2;
  width: 114px;
  margin-bottom: 3*$base_font_size;
  text-align: center;
  vertical-align: middle;
  padding-left: 28px;
  padding-right: 28px;
  .switcher {
    position: absolute;
    height: 35px;
    width: 28px;
    cursor: pointer;
    &.switcher-left {
      left: 0;
    }
    &.switcher-right {
      right: 0;
    }
    &.switcher-left:after {
      right: 3px;
    }
    &.switcher-right:after  {
      left: 3px;
    }
  }
  input[type='number'] {
    display: inline-block;
    width: 52px;
    margin-bottom: 0;
    padding-right: 0;
    background-color: inherit;
    text-align: left;
  }
}
