.logo-wrap {
  position: absolute;
  width: $xs_width;
  bottom: 0;
  height: 56px;
  z-index: 1;
  box-shadow: 0 -5px 15px 0  #444;
  background-color: $base_bg_color;
  @include apply-to(greater-than, $md_width) {
    width: 106px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    background-color: inherit;
    box-shadow: none;
  }
  a {
    display: block;
    width: 67px;
    margin: auto;
    text-align: center;
  }
  &:before {
    content: '';
    position: absolute;
    top: -53px;
    left: 0;
    right: 0;
    margin: auto;
    width: 106.06px;
    height: 106.06px;
    border-radius: 0 0 20px 0;
    background-color: $alternate_bg_color;
    transform: rotate(45deg) skewX(5deg) skewY(5deg);
    z-index: -1;
  }
  .logo {
    border: 0;
    width: 67px;
    height: 56px;
    cursor: pointer;
  }
}
