.main-nav {
  position: relative;
  z-index: 2;
  // close menu button
  &:before,
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 23px;
    height: 22px;
    bottom: -39px;
    right: 20px;
    @include apply-to(greater-than, $md_width) {
      display: none;
    }
  }
  &:before {
    top: 17px;
    background-image: url(../img/cancel.png);
    cursor: pointer;
  }
  // open menu button
  &:after {
    background-color: #eee;
    background-image: linear-gradient(
      $alternate_bg_color 0,
      $alternate_bg_color 18.181818%,
      #fff 18.181818%,
       #fff  40.90909%,
       $alternate_bg_color 40.90909%,
       $alternate_bg_color 59.090909%,
      #fff 59.090909%,
      #fff 81.818181%,
      $alternate_bg_color 81.818181%,
      $alternate_bg_color 100%);
    cursor: pointer;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: $alternate_bg_color;
    @include apply-to(greater-than, $md_width) {
      background-color: inherit;
    }

    li {
      text-align: center;
      @include apply-to(greater-than, $md_width) {
        display: inline-block;
        margin-right: -2px;
      }
      a {
        display: block;
        padding: {
          top: $base_padding;
          bottom: $base_padding;
        }
        border: {
          width: 1px 0 1px 0;
          style: solid;
          top-color: $border_light_color;
          bottom-color: $border_dark_color;
        }
        text-decoration: none;
        text-transform: uppercase;
        fon-size: $bigger_font_size;
        line-height: $bigger_font_size;
        color: $alternate_font_color;
        transition:
                        background-color 0.5s ease,
                        color 0.5s ease;
        &:hover {
          background-color: $alternate_bg_color - 40;
          @include apply-to(greater-than, $md_width) {
            background-color: $alternate_bg_color;
            color: $alternate_color;
          }
        }
        @include apply-to(greater-than, $md_width) {
          border: none;
          padding: 18px 30px;
          font-size: $base_font_size;
          font-weight: 700;
          color: $base_color;
        }
      }
      &:nth-child(1),
      &:nth-child(4) {
        @include apply-to(greater-than, $md_width) {
          float: right;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        @include apply-to(greater-than, $md_width) {
          float: left;
        }
      }
    }
  }
}
