.options-list {
  padding-top: $base_font-size*3;
  padding-bottom: $base_font-size*3;
  @include apply-to(greater-than, $md_width) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .option:first-of-type {
    h2 {
      margin-top: 0;
    }
  }
}

.option {
  position: relative;
  padding-left: $base-font-size*5;
  padding-right: 20px;
  @include apply-to(greater-than, $md_width) {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 7*$base_line_height;
    padding-bottom: 65px;
    text-align: center;
  }
  h2 {
    margin: 0;
    margin-bottom: $base_line_height; //21px
  }
  p {
    margin: 0;
    margin-bottom: $base_line_height+$base_font_size;
    @include apply-to(greater-than, $md_width) {
      margin-bottom: 0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    background-repeat: no-repeat;
    @include apply-to(greater-than, $md_width) {
      left: 90px;
      top: 50px;
    }
  }
  &.accomodation:before {
    background-image: url(../img/i-house.png);
    width: 36px;
    height: 36px;
    @include apply-to(greater-than, $md_width) {
      background-image: url(../img/i-house-md.png);
      width: 75px;
      height: 72px;
    }
  }
  &.souvenirs {
    @include apply-to(greater-than, $md_width) {
      padding-left: 43px;
      padding-right: 43px;
    }
    &:before {
      background-image: url(../img/i-present.png);
      width: 32px;
      height: 38px;
      @include apply-to(greater-than, $md_width) {
        background-image: url(../img/i-present-md.png);
        width: 64px;
        height: 76px;
        top: 44px;
        left: 95px;
      }
    }
  }
  &.food:before {
    background-image: url(../img/i-burger.png);
    width: 74px;
    height: 69px;
    @include apply-to(greater-than, $md_width) {
      background-image: url(../img/i-burger-md.png);
      width: 75px;
      height: 72px;
    }
  }
}
