.reasons-to-visit {
  text-transform: uppercase;
  background-color: $base_bg_color;
  .article-header {
    position: relative;
    padding-top: $base_font_size*3;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: $base_font_size*4;
    text-align: center;
    text-transform: uppercase;
    background-image:
      linear-gradient(
        9deg,
        $alternate_bg_color 10%,
        transparent 10%),
      linear-gradient(
        -9deg,
        $alternate_bg_color 10%,
        transparent 10%);
    h2 {
      margin-top: 0;
      margin-bottom:  0;
      margin-bottom: $base_font_size*3;
      font-size: $bigger_font_size;
      font-weight: 700;
      line-height: $bigger_line_height;
    }
    p {
      margin-top: 0;
      margin-bottom: $base_font_size*3;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.reason {
  position: relative;
  padding: {
    top: $base_line_height;
    right: 30px;
    bottom: $base_line_height;
    left: 30px;
  }
  text-align: center;
  background-color: #eeeeee;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1;
    width: 75%;
    height: 1px;
    margin: 0 auto;
    background-color: #d6d6d6;
  }
  &.active {
    position: static;
    padding-top: $base_font_size*3;
    padding-bottom: $base_font_size*3;
    background-color: $alternate_bg_color;
    color: $alternate_font_color;
  }
  h2 {
    margin-top: 0;
    margin-bottom: $base_font_size;
    font-size: $bigger_font_size;
    font-weight: 700;
    line-height: $bigger_line_height;
  }
  p {
    margin-top: $base_line_height;
    margin-bottom: 0;
  }
}
