.picture-wrapper {
  position: relative;
  min-width: 320px;
  height: 256px;
  img {
    position: absolute;
    display: block;
    height: 100%;
    left: -35%;
    @include apply-to(greater-than, $md_width) {
      left: 0;
    }
    @include apply-to(greater-than, $xl_width) {
      height: auto;
      width: 100%;
      top: -25%;
    }
  }
}
